# vagrant stuff
database/*.sql
init/vhosts
init/certs

# ignore these files
.DS_Store

*/**/*.sql

# logs
npm-debug.log
*/**/*.log
*/**/vhosts

# sublime and gulp dev files
*/**/*.sublime-project
*/**/*.sublime-workspace
*.sublime-workspace
*/**/bower_components/
*/**/node_modules/
*/**/vendor/

# Composer stuff
composer.lock
vendor
public_html/app
package-lock.json

# env file
env
.env

# confiugs
public_html/.htaccess
public_html/manifest.json
public_html/service-worker.js
public_html/extras.php


# uploads
public_html/wp-content/uploads/


#mu-plugins
public_html/wp-content/
public_html/wordpress/
