# vagrant stuff
database/*.sql
init/vhosts
init/certs

# ignore these files
.DS_Store

*/**/*.sql

# logs
npm-debug.log
*/**/*.log
*/**/vhosts

# sublime and gulp dev files
*/**/*.sublime-project
*/**/*.sublime-workspace
*.sublime-workspace
*/**/bower_components/
*/**/node_modules/
*/**/vendor/

# Composer stuff
composer.lock
vendor
public/app
package-lock.json

# env file
env
.env

# confiugs
public/.htaccess
public/manifest.json
public/service-worker.js
public/extras.php


# uploads
public/content/uploads/


#mu-plugins
public/content/
public/wordpress/
